fastapi
uvicorn
sqlalchemy
psycopg2-binary
asyncpg
pydantic
python-dotenv
langchain-core
langchain-groq
groq
sqlacodegen
svix # for clerk
PyJWT
cryptography
razorpay
pypdf
python-docx
python-multipart